<div class="songs-list">
    <ul>
        <li class="col-xs-12 container">
            <div class="song-info-header">
                <div class="song-container">
                    <div class="col-sm-3">
                        SONG
                    </div>
                    <div class="col-sm-3">
                        ARTIST
                    </div>
                    <div class="col-sm-3">
                        ALBUM
                    </div>
                    <div class="col-sm-2">
                        DURATION
                    </div>
                </div>
            </div>
        </li>
        <li *ngFor="let song of songs | search: parameters:searchPattern | sort: sortType:sortOrder | paginate: { itemsPerPage: 15, currentPage: p }" class="col-xs-12 container">
            <div class="song-info">
                <div class="song-container">
                    <div class="col-sm-3">
                        {{song.name}}
                    </div>
                    <div class="col-sm-3">
                        {{song.artist}}
                    </div>
                    <div class="col-sm-3">
                        {{song.album}}
                    </div>
                    <div class="col-sm-2">
                        {{song.duration | songDuration}}
                    </div>
                    <div *ngIf="showIcons && !song.contains" class="col-sm-1">
                        <a [id]="song._id" (click)="addFavoriteSong($event); song.contains=true" href="#">
                            <img src="../../../../../assets/images/favorite-icon.png" alt="">
                        </a>
                    </div>
                    <div *ngIf="showIcons && song.contains" class="col-sm-1">
                        <a [id]="song._id" (click)="removeFavoriteSong($event); song.contains=false" href="#">
                            <img src="../../../../../assets/images/unfavorite-icon.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="songs-pagination">
    <pagination-controls directionLinks="false" maxSize="3" (pageChange)="p = $event"></pagination-controls>
</div>