<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 contact-content">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2 class="form-legend">Contact us</h2>
        <form name="form" (ngSubmit)="f.form.valid && contact()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
               <label for="email">Email</label>
               <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
               <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
           </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required />
                <div *ngIf="f.submitted && !title.valid" class="help-block">Title is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !content.valid }">
                <label for="content">Content</label>
                <textarea class="form-control" rows="8" name="content" [(ngModel)]="model.content" #content="ngModel" required ></textarea>
                <div *ngIf="f.submitted && !content.valid" class="help-block">Content is required</div>
            </div>
            <div class="contact-submit">
                <div class="form-group">
                    <button class="btn btn-primary btn-contact">Send</button>
                </div>
            </div>
        </form>
    </div>
    <simple-notifications [options]="options "></simple-notifications>
</div>