<div class="col-xs-10 col-xs-offset-1 messages-content">
    <div class="messages-form">
        <div class="form-group col-sm-4 col-lg-4">
            <input type="text" class="form-control" [(ngModel)]="searchPattern" placeholder="Search..." />
        </div>
        <div class="form-group col-sm-8 col-lg-8">
            <div class="col-xs-12 col-md-4 messages-option">
                <label class="col-xs-4 control-label messages-sub-option messages-sub-option-label" for="sort-type">Order by</label>
                <div class="col-xs-8 messages-sub-option">
                    <select class="form-control" id="sort-type" [(ngModel)]="sortType">
                        <option *ngFor="let type of sortTypes" [value]="type">{{type}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 messages-option">
                <label class="col-xs-4 control-label messages-sub-option messages-sub-option-label" for="sort-order">Order in</label>
                <div class="col-xs-8 messages-sub-option">
                    <select class="form-control" id="sort-order" [(ngModel)]="sortOrder">
                        <option *ngFor="let order of sortOrders" [value]="order">{{order}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 messages-option">
                <label class="col-xs-4 control-label messages-sub-option messages-sub-option-label" for="sort-order">Filter by</label>
                <div class="col-xs-8 messages-sub-option">
                    <select class="form-control" id="status-filter" [(ngModel)]="status">
                        <option *ngFor="let st of statuses" [value]="st">{{st}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <app-messages-list [messages]="messages" [status]="status" [searchPattern]="searchPattern" [parameters]="parameters" [sortType]="sortType" [sortOrder]="sortOrder"></app-messages-list>
    <simple-notifications [options]="options"></simple-notifications>
</div>