.messages-content {
    background-color: #FFFFFF;
    height: 100%;
    padding: 30px 15px;
}

.messages-content .messages-form {
    margin: 15px 0px;
    display:block;
    overflow:auto;
}

.messages-content .messages-list {
    margin: 15px 0px;
    display:block;
    overflow:auto;
}

.messages-content .messages-option {
    padding: 0px 0px 0px 15px;
    display: inline-block;
}

.messages-content .messages-option .messages-sub-option{
    padding: 0px 0px 0px 15px;
}

.messages-content .messages-option .messages-sub-option-label{
    text-align: right;
    vertical-align: middle;
    padding: 10px 0px;
}

.messages-pagination {
    text-align: center;
    margin-top: 30px;
}

.messages-pagination *{
    font-size: 18px !important;
    text-decoration: none;
}

.messages-pagination .current{
    background-color: #2c3e50 !important;
}

.messages-pagination span{
    margin: 0px 5px !important;
}

.messages-pagination a:hover{
    background-color: inherit !important;
    text-decoration: none !important;
    color: #25b09c !important;
    cursor: pointer;
}