.error-content {
    background-color: #FFFFFF;
    height: 80vh;
}

.error-content .centered {
    position: relative;
    top: 25%;
    text-align: center;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.error-content .centered .responsive {
    max-width: 100%;
    height: auto;
}