<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 register-content">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2 class="form-legend">Register</h2>
        <form name="form" [formGroup]="user" (ngSubmit)="register(); f.reset()" #f="ngForm">
            <div class="form-group" [ngClass]="{ 'has-error': !user.controls['username'].valid && user.controls['username'].touched }">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" formControlName="username" />
                <div class="text-danger" *ngIf="!user.controls['username'].valid && user.controls['username'].touched">Username must be atleast 3 symbols.</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': !user.controls['password'].valid && user.controls['password'].touched }">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" formControlName="password" />
                <div class="text-danger" *ngIf="!user.controls['password'].valid && user.controls['password'].touched">Password must be at least 4 symbols</div>
            </div>
             <div class="form-group" [ngClass]="{ 'has-error': !user.controls['confirmPassword'].valid && user.controls['confirmPassword'].touched || user.controls['password'].value != user.controls['confirmPassword'].value }">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword" />
                <div class="text-danger" *ngIf="!user.controls['confirmPassword'].valid && user.controls['confirmPassword'].touched || user.controls['password'].value != user.controls['confirmPassword'].value">Confirm password must be at least 4 symbols and match password</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': !user.controls['firstName'].valid && user.controls['firstName'].touched }">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" name="firstName" formControlName="firstName" />
                <div class="text-danger" *ngIf="!user.controls['firstName'].valid && user.controls['firstName'].touched">First name must be at least 3 symbols.</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': !user.controls['lastName'].valid && user.controls['lastName'].touched }">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" name="lastName" formControlName="lastName" />
                <div class="text-danger" *ngIf="!user.controls['lastName'].valid && user.controls['lastName'].touched">Last name must be atleast 3 symbols.</div>
            </div>
             <div class="form-group" [ngClass]="{ 'has-error': !user.controls['email'].valid && user.controls['email'].touched }">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" formControlName="email"/>
                <div class="text-danger" *ngIf="!user.controls['email'].valid && user.controls['email'].touched">Email must be in the right format (e.g. user@mail.com)</div>
            </div>
            <div class="register-submit">
                <div class="form-group">
                    <button [disabled]="!f.valid || user.controls['password'].value != user.controls['confirmPassword'].value" class="btn btn-primary btn-register">Register</button>
                </div>
            </div>
        </form>
    </div>
    <simple-notifications [options]="options "></simple-notifications>
</div>