.detailed-user-content {
    background-color: #FFFFFF;
    height: 100%;
    padding: 30px;
}

.detailed-user-content .profile-header{
    display: flex;
    align-items: stretch;
}

.detailed-user-content .profile-image {
    text-align: center;
}

.detailed-user-content img {
    display: inline-block;
    max-width: 100%;
    min-height: auto;
}

.detailed-user-content .profile-information {
    margin-top: 30px;

}

.detailed-user-content .profile-username {
    font-size: 3em;
    margin: 10px 0px 0px 20px;
}

.detailed-user-content .profile-names {
    font-size: 1.5em;
    margin: 10px 0px 0px 20px;
    color: #25b09c;
}

.detailed-user-content .profile-follow {
    text-align: right;
}

.detailed-user-content .btn-follow {
    width: 100%;
}

.detailed-user-content ul{
    list-style: none;
    padding: 0px;
}

.detailed-user-content .image-container {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    position: relative;
    background-color: #F5F5F5;
    display: inline-block;
}

.detailed-user-content .image-container img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-height: 100%;
}


@media (max-width: 767px) {
    .detailed-user-content .profile-information {
        text-align: center;
    }

    .detailed-user-content .profile-header{
        display: initial;
    }

    .detailed-user-content .profile-follow {
        text-align: center;
        margin-top: 20px;
    }
}