<div class="col-xs-10 col-xs-offset-1 detailed-user-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="row main-row profile-header">
                <div class="col-sm-3 col-md-2 col-lg-2 profile-image">
                    <div class="image-container">
                        <img src="../../../assets/images/profile-pictures/{{avatar}}" default="../../../assets/images/profile-pictures/default-avatar.jpg"/>
                    </div>
                </div>
                <div class="col-sm-6 col-md-8 col-lg-8 profile-information">
                    <div>
                        <div class="row">
                            <h1 class="profile-username">{{username}}</h1></div>
                        <div class="row">
                            <h2 class="profile-names">{{firstName}} {{lastName}}</h2></div>
                    </div>
                </div>
                <div *ngIf="currentUsername != username" class="col-sm-3 col-md-3 col-lg-2 profile-follow">
                    <button *ngIf="!followed" (click)="follow()" class="btn btn-primary btn-follow">FOLLOW</button>
                    <button *ngIf="followed" (click)="unfollow()" class="btn btn-default btn-follow">UNFOLLOW</button>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#artists" data-toggle="pill" aria-expanded="true">Artists</a></li>
                <li class=""><a href="#albums" data-toggle="pill" aria-expanded="true">Albums</a></li>
                <li><a href="#songs" data-toggle="pill" aria-expanded="false">Songs</a></li>
                <li><a href="#followers" data-toggle="pill" aria-expanded="false">Followers</a></li>
                <li><a href="#followings" data-toggle="pill" aria-expanded="false">Followings</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="my-tab-content">
                <div class="tab-pane fade active in" id="artists">
                    <div id="artists-info">
                        <h1>Favorite Artists</h1>
                    </div>
                </div>
                <div class="tab-pane fade" id="albums">
                    <div id="albums-info">
                        <h1>Favorite Albums</h1>
                    </div>
                </div>
                <div class="tab-pane fade" id="songs">
                    <div id="songs-info">
                        <h1>Favorite Songs</h1>
                    </div>
                </div>
                <div class="tab-pane fade" id="followers">
                    <div class="users-list">
                        <ul>
                            <li *ngFor="let follower of followers | paginate: { id: 'followers', itemsPerPage: 6, currentPage: s }" class="col-xs-4 col-sm-3 col-md-2 container">
                                <div class="user-info">
                                    <a [routerLink]="['/users/',follower.username]" [routerLinkActive]="['active']">
                                        <div class="user-container">
                                            <div class="image-container">
                                                <img src="../../../assets/images/profile-pictures/{{follower.avatar}}" default="../../../assets/images/profile-pictures/default-avatar.jpg" alt="{{follower.username}}"/>
                                            </div>
                                            <p class="username">{{follower.username}}</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="users-pagination">
                        <pagination-controls id="followers" directionLinks="false" maxSize="3" (pageChange)="s = $event"></pagination-controls>
                    </div>
                </div>
                <div class="tab-pane fade" id="followings">
                    <div class="users-list">
                        <ul>
                            <li *ngFor="let following of followings | paginate: { id: 'followings', itemsPerPage: 6, currentPage: q }" class="col-xs-4 col-sm-3 col-md-2 container">
                                <div class="user-info">
                                    <a [routerLink]="['/users/',following.username]" [routerLinkActive]="['active']">
                                        <div class="user-container">
                                            <div class="image-container">
                                                <img src="../../../assets/images/profile-pictures/{{following.avatar}}" default="../../../assets/images/profile-pictures/default-avatar.jpg" alt="{{following.username}}"/>
                                            </div>
                                            <p class="username">{{following.username}}</p>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="users-pagination">
                        <pagination-controls id="followings" directionLinks="false" maxSize="3" (pageChange)="q = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <simple-notifications [options]="options "></simple-notifications>
</div>