<div class="users-list">
    <ul>
        <li *ngFor="let follower of followList | paginate: { id: 'followers', itemsPerPage: 6, currentPage: s }" class="col-xs-4 col-sm-3 col-md-2 container">
            <div class="user-info">
                <a [routerLink]="['/users/',follower.username]" [routerLinkActive]="['active']">
                    <div class="user-container">
                        <div class="image-container">
                            <img src="../../../assets/images/profile-pictures/{{follower.avatar}}" default="../../../assets/images/profile-pictures/default-avatar.jpg" alt="{{follower.username}}"/>
                        </div>
                        <p class="username">{{follower.username}}</p>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>
<div class="users-pagination">
    <pagination-controls id="followers" directionLinks="false" maxSize="3" (pageChange)="s = $event"></pagination-controls>
</div>