<div class="col-xs-10 col-xs-offset-1 users-content">
    <div class="users-form">
        <div class="form-group col-sm-4 col-lg-4">
            <input type="text" class="form-control" [(ngModel)]="searchPattern" placeholder="Search..." />
        </div>
        <div class="form-group col-sm-8 col-lg-8">
            <div class="col-xs-12 col-sm-6 users-option">
                <label class="col-xs-4 control-label users-sub-option users-sub-option-label" for="sort-type">Order by</label>
                <div class="col-xs-8 users-sub-option">
                    <select class="form-control" id="sort-type" [(ngModel)]="sortType">
                        <option *ngFor="let type of sortTypes" [value]="type">{{type}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 users-option">
                <label class="col-xs-4 control-label users-sub-option users-sub-option-label" for="sort-order">Order in</label>
                <div class="col-xs-8 users-sub-option">
                    <select class="form-control" id="sort-order" [(ngModel)]="sortOrder">
                        <option *ngFor="let order of sortOrders" [value]="order">{{order}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="users-list">
        <ul>
            <li *ngFor="let user of users | search: parameters:searchPattern | sort: sortType:sortOrder | paginate: { itemsPerPage: 12, currentPage: p }" class="col-xs-6 col-sm-3 col-md-2 container">
                <div class="user-info">
                    <a [routerLink]="['/users/',user.username]" [routerLinkActive]="['active']">
                        <div class="user-container">
                            <div class="image-container">
                                <img src="../../../assets/images/profile-pictures/{{user.avatar}}" default="../../../assets/images/profile-pictures/default-avatar.jpg" alt="{{user.username}}" />
                            </div>
                            <p class="username">{{user.username}}</p>
                            <p class="name">{{user.firstName}} {{user.lastName}}</p>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="users-pagination">
        <pagination-controls directionLinks="false" maxSize="3" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>