<div class="col-xs-10 col-xs-offset-1 detailed-artist-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="row main-row profile-header">
                <div class="col-sm-3 col-md-2 col-lg-2 profile-image">
                    <div class="image-container">
                        <img src="../../../assets/images/artist-pictures/{{imgUrl}}" default="../../../assets/images/artist-pictures/default-artist.jpg"/>
                    </div>
                </div>
                <div class="col-sm-6 col-md-7 col-lg-7 profile-information">
                    <div class="header-wrapper">
                        <div class="row">
                            <h1 class="profile-artistname">{{name}}</h1>
                        </div>
                        <div class="row">
                            <h2 class="profile-nationality">{{nationality}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 profile-follow">
                    <button *ngIf="!favorited" (click)="addFavoriteArtist();favorited=true;" class="btn btn-primary btn-favorite">Add to favorites</button>
                    <button *ngIf="favorited" (click)="removeFavoriteArtist();favorited=false;" class="btn btn-default btn-favorite">Remove from favorites</button>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#about" data-toggle="pill" aria-expanded="true">About</a></li>
                <li class=""><a href="#albums" data-toggle="pill" aria-expanded="true">Albums</a></li>
                <li><a href="#singles" data-toggle="pill" aria-expanded="false">Singles</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="my-tab-content">
                <div class="tab-pane fade active in" id="about">
                    <div id="artists-info">
                        <app-about [genres]="genres" [bio]="bio" [yearsActive]="yearsActive"></app-about>
                    </div>
                </div>
                <div class="tab-pane fade" id="albums">
                    <div id="albums-info">
                        <app-albums-list [albumsList]="albums"></app-albums-list>
                    </div>
                </div>
                <div class="tab-pane fade" id="singles">
                    <div id="songs-info">
                        <app-singles-list [artist]="name" [singlesList]="singles"></app-singles-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <simple-notifications [options]="options "></simple-notifications>
</div>